<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.tourguideappudacity">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".vienaragiomalunas" />
        <activity android:name=".pasgrafa" />
        <activity android:name=".smagratis" />
        <activity android:name=".Lanktyvtinos_vietos"
            android:parentActivityName=".MainActivity"
            android:label="Lankytinos Vietos"/>
        <activity android:name=".antkalno" />
        <activity android:name=".arkos" />
        <activity android:name=".Cancan" />
        <activity android:name=".Charlie" />
        <activity android:name=".dziugonamai" />
        <activity android:name=".elgreco" />
        <activity android:name=".Gama" />
        <activity android:name=".guesthouse" />
        <activity android:name=".Haochi" />
        <activity android:name=".hesburger" />
        <activity android:name=".jancauskienes" />
        <activity android:name=".Restoranai" />
        <activity android:name=".jonziedis" />
        <activity android:name=".Laisves30" />
        <activity android:name=".lankytinos_vietosgalerry"
            android:parentActivityName=".Lanktyvtinos_vietos"
            android:label="Lankytinos Vietos Galerija"/>
        <activity android:name=".lisiteja" />
        <activity android:name=".oldquart" />
        <activity android:name=".pekinas" />
        <activity android:name=".Picasso" />
        <activity android:name=".Roala" />
        <activity android:name=".Rosso" />
        <activity android:name=".sanchajus" />
        <activity android:name=".saukstelis" />
        <activity android:name=".skoniodziazas" />
        <activity android:name=".starrpizza" />
        <activity android:name=".teatrokavine" />
        <activity android:name=".tela" />
        <activity android:name=".TelsiuRestoranai" />
    </application>

</manifest>